<nav class = "navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="{% url 'lab-10:index' %}#my-list">Home</a> </li>
        <li id="watchlater"><a href="{% url 'lab-10:list_watch_later' %}#input-list">Watch Later</a></li>
        <li id="watched"><a href="{% url 'lab-10:list_watched' %}#input-list">Watched Movies</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>