{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
	<h1>List Watch Later Movies :</h1>
    {% for movie in watch_later_movies %}
        <img class="detail-item col-md-4" style="display:inline" src="{{movie.poster}}"/>
        <div class="detail-item col-md-8">
            <h3>Year :</h3>
            {{movie.year}}
            <h3>Released :</h3>
            {{movie.released}}
            <h3>Duration :</h3>
            {{movie.runtime}}
            <h3>Genre :</h3>
            {{movie.genre}}
            <h3>Writer :</h3>
            {{movie.writer}}
            <h3>Actors :</h3>
            {{movie.actors}}
            <h3>IMDB RATING :</h3>
            <span style="font-weight: 600;font-style: bold;font-size: 3rem;color: blue">{{movie.imdbrating}}</span>   
        	<div class="box" style="text-align:center">
                <a href="{% url 'lab-10:set_watched' movie.imdbid %}"><button style="width:100%;" class="btn btn-warning" > Add  to Watch Movie </button></a>
            </div>
        </div>
        <hr style="width:100%;border:3px solid black;margin:1em 1em">
    {% endfor %}
</div>
{% endblock %}
