html {
	min-height: 100%;
}
body {
	margin-top: 6em !important;
	font-family: 'Crimson Text', serif !important;
	min-height: 100%;
	width: 100%;
	background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
	background-size: cover;
	margin: 0;		
	font-size: 1.5em !important;
}

h1,h2,h3 {
	font-family: 'Josefin Sans', serif !important;
	font-weight: 700 !important;
}