<div class="topnav" id="myTopnav">
  <a href="/lab-9/profile" class="active">Home</a>
  <a id="logout" href="{% url 'lab-9:auth_logout' %}">Logout </a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>