{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Portofolio</h1>
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <img class="img-circle" style="width:15%;display:inline;position:absolute;left:60%;top:10%;" src="http://preview.ibb.co/i3kAm5/IMG20141009115805.jpg" alt="IMG20141009115805" border="0">
    <p>
        {{content}}
    </p>
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" style="width:100%;align:center;" class="btn btn-default btn-success">Submit</button>
    </form>

</section>

{% endblock %}
