{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Lab 8</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/lab8.css' %}" />	
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora|Vollkorn" rel="stylesheet">
	</head>

	<body>

		<div id="background">
			
			<header>
		      {% include "partials/header.html" %}
	    </header>

			
			<div class="container">
				<div id="lab8"></div>
				<div id="status"></div>	
			</div>
			
		</div>
		
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'js/lab_8.js' %}"></script>


	</body>
</html>