{% extends "base.html" %}
{% block content %}
<style>
    body{
        margin:0;
        padding:0;
        background:#262626 !important;
    }
    h1{
        margin:0;
        padding: 20px 100px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 8em;
        letter-spacing: 0.2em;
        background: #72c3ff;
        color:#fff;
        overflow: hidden;
        text-shadow: 0 5px 2px rgba(0,0,0,.2);
    }
    h1:before {
        content:'';
        position: absolute;
        top:100%;
        left:0;
        width:100%;
        height:100%;
        background:url(https://preview.ibb.co/c7TLb5/skyline.png);
        background-size: cover;
        background-repeat:repeat-x;
        z-index:-1;
        animation: animateBefore 10s linear infinite;
        transition: 1s;
        }
        h1:after {
        content:'';
        position: absolute;
        top:100%;
        left:0;
        width:100%;
        height:100%;
        background:url(https://preview.ibb.co/cU5cOk/skyline1.png);
        background-size: auto;
        background-repeat:repeat-x;
        z-index:-2;
        animation: animateAfter 10s linear infinite;
        transition: 1s;
    }
    h1:hover:before {
        top:0;
    }
    h1:hover:after {
        top:10px;
    }
    @keyframes animateAfter{
    0%{
        background-position : 0%;
    }
    100%{
        background-position: 150%;
    }
    }

    @keyframes animateBefore{
    0%{
        background-position : 0%;
    }
    100%{
        background-position: 100%;
    }
    }

    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
    p {
        position:absolute;
        bottom:100px;
        color:white;
    }
    h2 {
        text-align: center;
        position:absolute;
        top:120px;
        left:150px;
        color:white;
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
    <h1>PRAKASA</h1>
    <h2>Hover Me !</h2>
</div>
{% endblock %}
