{% extends "lab_10/layout/base.html" %}

{% block content %}
<!-- Content Here -->
<section id="data-dashboard">
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center">
            <h2> Dashboard </h2>
        </div>
        <div class="panel-body" style="text-align: center;">
            <p> Username : {{ author }} </p>
            <p> NPM : {{kode_identitas}} </p>
            <p> Role : {{ role }} </p>
            <p>
                <a href="{% url 'lab-10:movie_list' %}" class="btn btn-primary"> Daftar Movie </a> |
                <a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-warning"> Daftar Watch Later </a> |
                <a href="{% url 'lab-10:list_watched' %}" class="btn btn-info"> Daftar Watched Movies </a> 
            </p>
        </div>
        <div class="panel-footer" style="text-align: center;">
            <a  style="width: 100%" href="{% url 'lab-10:auth_logout' %}" class="btn btn-danger" onclick="return confirm('Keluar?')">
                Logout </a>
        </div>
    </div>
</section>
<hr>

{% endblock %}
